<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home1</title>
</head>
<body>
    <center>
        <marquee behavior="" direction="">
            <h1>This is a HTML page 1 respone in the form of HTTP</h1>
        </marquee>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, quo sequi in architecto magnam iusto possimus corrupti eaque minima laudantium accusantium rerum quam unde tenetur neque? Distinctio sequi, ullam quibusdam, cupiditate commodi explicabo recusandae odio eius temporibus maxime tempore, autem saepe quia alias reiciendis iusto? Possimus temporibus aut perferendis autem architecto fugit, ut sapiente! Expedita consequatur at quasi consequuntur impedit eligendi ipsum soluta libero quidem aliquid id nihil quas pariatur voluptas modi et recusandae non itaque accusamus velit iste magnam, sint suscipit. Adipisci minus magni possimus, quae non mollitia fugiat suscipit voluptate animi placeat, illo, eos veritatis cumque dolorum accusamus?
        </p>
    </center>
</body>
</html>